{# project AppBundle:Project #}
{# usage AppBundle:PackageVersion #}
{% extends '@App/Base/base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Project {{ project.name }}</h2>
            <p>Imported from <a href="{{ project.vcsUrl }}">{{ project.vcsUrl }}</a></p>
            <h3>Dependencies</h3>
            <ul class="list-group mb-5">
                {% for usage in project.usages %}
                    <li class="list-group-item">
                        <a href="{{ path('package', {'name': usage.package.name}) }}">
                            {{ usage.package.name }}
                        </a> with {{ usage.prettyVersion }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
