{# projects AppBundle:Project[] #}
{% extends '@App/Base/base.html.twig' %}

{% block main %}
    {{ form_start(searchPackageForm, {'action': path('main'), 'attr': {'class': 'js-findProjectsForm mb-5'}}) }}
        {{ form_errors(searchPackageForm) }}
        <div class="form-row pb-2">
            {{ form_label(searchPackageForm.package) }}
            {{ form_widget(searchPackageForm.package, {'attr': {'class': 'js-packageSelect form-control col-md-6 offset-md-3'}}) }}
            {{ form_errors(searchPackageForm.package) }}
        </div>
        <div class="form-row pb-2">
            {{ form_label(searchPackageForm.versionConstraintOperator) }}
            {{ form_widget(searchPackageForm.versionConstraintOperator, {'attr': {'class': 'js-versionConstraintOperatorSelect form-control col-md-6 offset-md-3'}}) }}
            {{ form_errors(searchPackageForm.versionConstraintOperator) }}
        </div>
        <div class="form-row pb-2">
            {{ form_label(searchPackageForm.versionConstraintValue) }}
            {{ form_widget(searchPackageForm.versionConstraintValue, {'attr': {'class': 'js-versionConstraintValueSelect form-control col-md-6 offset-md-3'}}) }}
            {{ form_errors(searchPackageForm.versionConstraintValue) }}
        </div>
        <div class="form-row">
            <button type="submit" class="btn btn-primary col-md-6 offset-md-3">Find projects</button>
        </div>
    {{ form_end(searchPackageForm) }}

    <div class="row mb-3">
        <div id="results" class="col-md-6 offset-md-3"></div>
    </div>
{% endblock%}
