{# package AppBundle:Package #}
{# project AppBundle:Project #}
{% extends '@App/Base/base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% if matchingPackageVersions is defined %}
                <h2>Matching Projects</h2>
                <p>Using <a href="{{ path('package', {'name': package.name}) }}">{{ package.name }}</a> with version constraint {{ versionConstraint }}</p>
                {% if matchingPackageVersions|length == 0 %}<p>No results.</p>{% endif %}
                <ul class="list-group mb-5">
                    {% for version in matchingPackageVersions %}
                        <li class="list-group-item">
                            <strong>Version {{ version.prettyVersion }}</strong><br/>
                            {% if version.projects|length > 0 %}
                                Used by:
                                {% for project in version.projects %}
                                    <a href="{{ path('project', {'name': project.name}) }}">
                                        {{ project.name }}
                                    </a>
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h2>Package {{ package.name }}</h2>
                {% if message is defined %}{{ message }}{% endif %}
                <ul class="list-group mb-5">
                    {% for version in package.versions %}
                        <li class="list-group-item">
                            <strong>Version {{ version.prettyVersion }}</strong><br/>
                            {% if version.projects|length > 0 %}
                                Used by:
                                {% for project in version.projects %}
                                    <a href="{{ path('project', {'name': project.name}) }}">{{ project.name }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
